<%# A copy of contents/resource + service_price %>
<%
has_stickers = @stickers.try(:any?)
has_categories = @categories.try(:any?)
%>
<div class="row-fluid">
	<div class="span12">
		<%= page_title(resource.title) %>	
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<%= resource_body_tag do %>
        	<%= render_html_text(resource.body) if resource.body.present? %>
		  <%= "<div class='details price'><span>#{t('services.price')}:</span> #{(resource.price.present? and resource.price.to_f > 0) ? resource.price : t(:'price_on_request') }</div>".html_safe %> 
		  <%= "<div class='details duration'><span>#{t('services.duration')}:</span> #{resource.duration.to_s}</div>".html_safe if resource.duration.present? %>
		  <% unless is_mobile_view? %>
		    <% if has_stickers || has_categories %> 
		      <div class='metas'>
		      <%= render('/categories/shared/meta_list', :categories => @categories) if has_categories %>
		      <%= render('/stickers/shared/meta_list', :stickers => @stickers) if has_stickers %>
		      </div>
		    <% end %> 
		    <%= render '/shared/next_previous', :record => resource %>
		    <% end %>
		<% end %>
      </div>
  <div class="span8">
    <%= render 'shared/slideshow', :images => @images if @images.try(:any?) %>
  </div>
</div>


  
