<% 
@services = @site.services.with_translations(I18n.locale)
@boats = @site.sections.named("boats").first.children.with_translations(I18n.locale)
@features = @site.features.visibles
%>

<% content_for :page_content do %>
<div>
  <% if @features.any? %>
    <div class="row-fluid">
		<div class="span4">
	        <% if resource.body.present? %>
				<div class="page_content">
					<%= resource_body_tag do %>
						<%= render_html_text(resource.body) %>
					<% end %> 
				</div> 
			<% else %>
			<p></p>
			<% end %>
		</div>
		<div class="span8" id="home-orbit">
        	<%= render 'shared/carousel', :features => @features %>
      	</div>
    </div> 
  <% end %>
	<div class="row-fluid">
		<div class="span6">
			<h1><%= t(:"services_header").html_safe %></h1>
			<% if @services.any? %>
				<%= grid_tag(2) do %>		  
					<% @services.each do |r|%>
					<li id="<%= dom_id(r) %>">
						<div class="thumbnail">
							<div class='thumbnail-image'>
							<%= link_to(image_fu(r.images.first, "300x200#"), url_for([r.section, r])) %>
							</div>
							<div class="thumbnail-caption">
						       	<h2  class="thumbnail-title small"><%= link_to(r.title, url_for([r.section, r])) %></h2>
					     	</div> 
						</div>
					</li>
					<% end %>
				<% end %>
			<% end %>
		</div>
		
		<div class="span6">
			<h1><%= t(:"fleet_header").html_safe %></h1>
			<% if @boats.any? %>
				<%= grid_tag(2) do %>		  
					<% @boats.each do |r|%>
					<li id="<%= dom_id(r) %>">
						<div class="thumbnail">
							<div class='thumbnail-image'>
							<%= link_to(image_fu(r.images.first, "300x200#"), url_for([r])) %>
							</div>
							<div class="thumbnail-caption">
						       	<h2 class="thumbnail-title small"><%= link_to(r.title, url_for([r])) %></h2>
					     	</div> 
						</div>
					</li>
					<% end %>
				<% end %>
			<% end %>
		</div>
	
	</div>
</div>
<% end -%>